BasedOnStyle: LLVM

UseTab: Never
TabWidth: 2
IndentWidth: 2
AccessModifierOffset: -2
IndentCaseLabels: true
ColumnLimit: 100
BreakBeforeBraces: Attach

SortIncludes: true
SortUsingDeclarations: true

NamespaceIndentation: All
CompactNamespaces: true

AllowShortIfStatementsOnASingleLine: true
AllowShortCaseLabelsOnASingleLine: true
AllowShortBlocksOnASingleLine: true
AlignConsecutiveAssignments: true
