BasedOnStyle: LLVM

UseTab: Never
TabWidth: 2
IndentWidth: 2
AccessModifierOffset: -2
IndentCaseLabels: false
ColumnLimit: 100
BreakBeforeBraces: Attach

SortIncludes: false
SortUsingDeclarations: false

NamespaceIndentation: All
CompactNamespaces: true

AllowShortIfStatementsOnASingleLine: true
AllowShortCaseLabelsOnASingleLine: true
AllowShortBlocksOnASingleLine: true
AlignConsecutiveAssignments: true
